html, body{
	width:100%;
	height:100%;
	margin:0;
}
.page-wrap{
	min-height:92%;
}

nav, .pageheader{
	font-family: "Copperplate Gothic Light", sans-serif;
}


/* Background colors */
body, .container-fluid{
 	background-color: #cccccc;
}
.panel-heading {
	background-color: #A9A9A9;
}
nav *, a{
	color:black;
}

aside .well, h3{
	text-align:center;
}

h1, h4{
	margin-top: 0;
}
.dropdown-menu li{
	display:block;
}
.icon-bar, .navbar-toggle{
	border-color: black;
}
/*.row:not(:last-of-type){
	border-bottom:1px solid black;
}*/

/*Page de login*/

.panel-body{
	padding: 2% 0 0 0;
}
.input-group{
	margin-bottom: 25px;
}
.form-group{
	margin-top: 10px;
}/*
.panel-info{
	background-color: #DCDCDC;
}*/
.panel-heading{
	margin-top:-1%;
	border-bottom-radius: 5%;
}

.form-signin {
    max-width: 75%;
    padding: 5%;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
	border-radius: 10%;
    margin-top: 15%;
    padding: 0 0 2% 0;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/*.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}*/



.formInterface .input-group-addon:not(:first-child){
	padding:0;
}

.button_link{
	margin: 0;
	padding: 0;
	border: 0;
	color: black;
	outline: none;
  	box-sizing: none;
  	background-color: transparent; 
}

/*Index Gestion*/
/*Also xl-icon is used in login page*/
.xl-icon{
	margin: 0;
    text-align: center;
    font-size: 48px;
}

.err_icon{
	color: tomato;
	border-bottom: 0;
	font-size: 96px;
}
.gestion_margin{
	margin-top:2%;
}

.btn-toolbar .col-md-6 .input-group{
	margin: 0;
	padding: 3% 0 0 0;
}


/*Style page de Gestion pour register un user*/
#msform, #form_test02, .formInterface{
	padding-top: 5%;
	margin: 2% auto;
	text-align: center;
}
#msform fieldset, #form_test02 fieldset, .formInterface fieldset, .formInterface>article {
	width: 80%;
	margin: 0 10%;
	padding: 5% 7%;
	border: 0 none;
	border-radius: 1%;
	background: white;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	
	/*stacking fieldsets above each other*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type), #form_test02 fieldset:not(:first-of-type){
	display: none;
}
/*inputs*/
#msform input, #form_test02 input, .formInterface input{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
}
/*buttons*/
#msform .action-button, #form_test02 .action-button{
	width: 30%;
	padding: 4% 2%;
	margin: 4% 2%;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
}
#msform .action-button:hover, #msform .action-button:focus, #form_test02 .action-button:hover, #form_test02 .action-button:focus, #progressbar li:before {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 3%;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 7%;
}
/*progressbar*/
#progressbar {
	padding: 1% 0 0 0;
	margin-bottom: 6%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
}
#progressbar li:before {
	/*box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;*/
	content: counter(step);
	counter-increment: step;
	width: 20%;
	line-height: 200%;
	display: block;
	font-size: 10px;
	color: #333;
	background-color: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
/*@media (min-width: 1028px) {
	#progressbar li:after {
		margin-top: -1%;
		margin-left:-11%;
		float:left;
		content: '';
		width: 8%;
		height: 0.5%;
		background: white;
		position: fixed;
		z-index: 0;
		text-align:left;
		box-sizing: border-box;
	}
	#progressbar li:first-child:after {
		content: none; 
	}
}*/

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background-color: #27AE60;
	color: white;
}


/*	VUE #02	*/

.opt-seq .input-group input{
	text-align:center;
	width:85%;
	height:auto;
	float:left;
}
.opt-seq .input-group .input-group-addon{
	width:3%;
}
/* Style pour les liens */
nav.bootsnav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover{
	text-decoration: underline;
}
nav.bootsnav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover, nav.navbar ul.nav li.dropdown.on > a{
    color: #f43438;
}

.page-wrap, body, .container-fluid{
	background-color: #F0F0F0;
}

.pageheader{
/* 	background-color: crimson; */
	text-align:left;
	/*background: url("/images/header-bg-4.jpg") no-repeat;*/
	background: url("../images/banner9.jpg") no-repeat;
    background-size: 100% 100%;
    padding:3% 0;
    color:white;
}

@media (min-width: 992px) {
	.formInterface>article .row .col-md-6:first-child{
		padding-right:0;
	}
	 .formInterface>article .row .col-md-6:last-child{
		padding-left:0;
	}
}

@media (min-width: 1024px) {
	.bootsnav li>ul>li{
		margin-left:8%;
	}
	.bootsnav li{
		text-align:left;
	}
}
.wrapper{
	height:100%;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/loading.gif") 50% 50% no-repeat rgb(249,249,249);
}

.center_td *{
	display:inline-block;
}

.center_th, .center_td{
	text-align:center;
}

label.input-group input[type="search"], div.dataTables_wrapper div.dataTables_filter input[type="search"]{
	margin-left:0;
}

